reports/html/assets/app.css
reports/html/assets/app.js
reports/html/assets/app.js.LICENSE.txt
reports/html/assets/MaterialIcons-Regular.woff
reports/html/assets/MaterialIcons-Regular.woff2
reports/html/assets/roboto-light-webfont.woff
reports/html/assets/roboto-light-webfont.woff2
reports/html/assets/roboto-medium-webfont.woff
reports/html/assets/roboto-medium-webfont.woff2
reports/html/assets/roboto-regular-webfont.woff
reports/html/assets/roboto-regular-webfont.woff2
reports/html/screenshots/forms.cy.js/forms, buttond and checkboxes -- Submit and assert form (failed).png
screenshots/forms.cy.js/forms, buttond and checkboxes -- Submit and assert form (failed).png
